#wrapper{
    margin: 0px auto;
    width: 100%;
}

.contant-box{ 
    width:100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 15px;
}
.contant-box:after{
    content: "";
    clear: both;
    display: table;   
}

.left{
    width: 60%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.left .field img{
    width: 100%;
}

.right{
    width: 40%;
    float: right;
    padding: 15px 0px;
    box-sizing: border-box;  
}
.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-inner {
    overflow: hidden;
    height: 258px;
    margin-bottom: 15px;
    position: relative;
}

.uppert-text{
    position: absolute;
    bottom: 10%;
    background: rgba(255,255,255,0.9);
    display: block;
    padding: 15px 20px;
    width: 50%;
    font-size: 20px;
    color:#134c67;
    font-weight: 600;
    border-radius: 0px 4px 4px 0px ;

}
.field--name-field-3b-image{
    width: 100%;
}


/************************/


*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    margin: 0px auto;
    width: 100%;
}

.contant-box{
    width:100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 15px;
    box-sizing: border-box;
}
.contant-box:after{
    content: "";
    clear: both;
    display: table;   
}
.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.col-md{
    width: 33%;
    height: auto;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.col-md h2{
    color:#003c6b;
    font-size: 28px;
    font-weight: bold;
}
.upper-text{
    position: relative;
}
.upper-text h2{
    /*    background: rgba(255,255,255,0.9);
        position: absolute;
        bottom: 10%;
        width: 80%;
        font-size: 28px;
        text-align: left;
        padding: 15px 25px;
        box-sizing: border-box;*/
}
@media (max-width: 1024px){

    .col-md h2 {
        font-size: 24px;
    }

}  
@media (max-width: 768px){
    .col-md {
        width: 100%;
    }
    .col-md h2 {
        font-size: 28px;
    }
    .upper-text h2{
        font-size: 22px;
        padding: 15px 15px;
    }

}



/***************************/



/*******************************************/


*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    margin: 0px auto;
    width: 100%;
}

.contant-box{
    width:100%;
    max-width: 1200px;
    /*margin: 0px auto;
    padding: 15px;*/
    padding-top: 33px;
}
.contant-box:after{
    content: "";
    clear: both;
    display: table;   
}

.left{
    width: 60%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.right{
    width: 40%;
    float: right;
    padding: 15px 0px;
    box-sizing: border-box;	
}
.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-inner {
    overflow: hidden;
    height: 337px;
    margin-bottom: 15px;
    position: relative;
}

.uppert-text{
    position: absolute;
    bottom: 10%;
    background: rgba(255,255,255,0.9);
    display: block;
    padding: 15px 20px;
    width: 50%;
    font-size: 20px;
    color:#134c67;
    font-weight: 600;
    border-radius: 0px 4px 4px 0px ;

}




.cartride-c:after{
    content: "";
    clear: both;
    display: table;   
}
.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cartride-c{
    width: 100%;
    height: auto;
}
.team-left{
    float: left;
    width: 60%;
}

.team-right{
    float: right;
    width: 40%;
    height: 558px;

}

.team-right-12-a{
    float: left;
    width: 40%;
    height: 558px;

}
.cart-left{
    float: left;
    width: 95%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.cart-left img{
    width: 100%;
}
.team-right img{
    height: 100%;
    width: 100%;
}
.cart-left h2{
    font-size: 20px;
    color:#00394d; 
    margin: 10px auto;
} 
.cart-right h2 {
    font-size: 22px;
}



.cart-14{
    width: 100%;
}
.cart-ul{
    width: 100%;
    margin: 0px auto;
}
.cart-ul .li{
    display: inline-block;
    width: 10%;
    margin-right: 10px;
    float: left;

}
.cart-ul .li img{
    width: 100%;
    height: 100%;
}
.cart-inner{
    width: 100%;
    opacity: 0;
}
.cart-inner .li{
    text-align: center;
    width: 100%;
    margin: 0px auto; 
    font-size: 18px;

}

.cart-ul .li:hover .cart-inner{
    opacity: 1;
}
.cart-ul .li ul{
    width: 100%;
    list-style: none;
}
.cart-ul .li ul li{
    text-align: center;
}
.cart-inner  .li {
    text-decoration:none;
    color: #00384e;
}

.cart-ul .li a { border: 0px; }

.crt14bli {
    width: 12%!important;    
}



.cart20-a2{
    background:#e2e2e2;
}
.cart20-a2-ul{
    width: 100%;
    list-style-type: none;
    margin-bottom: 78px;
    height: 860px;
}
.cart20-a2-ul a{
    text-decoration: none;
}
.cart-heading h5{
    font-size: 26px;
}
.cart20-a2-ul:after{
    content: " ";
    clear: both;
    display: table;
}
.cart20-a2-ul .li{
    text-align: center;
    float: left;
}
.cart20-a2-ul .li h5{
    font-size: 20px;
    margin:10px 0px;
}
.cart20-a2-ul .li:nth-child(1){
    width: 30%;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 20px;
}
.cart20-a2-ul .li:nth-child(1) h5{
    margin: 10px 0px;
    width: 100%;
}

.cart20-a2-ul .li:nth-child(1) p{
    font-size: 16px;
    margin: 10px 0px 15px 0px;
}
.cart20-a2-ul .li:nth-child(1) button {
    background-color: #006e9a;
    border: 1px solid #006e9a;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding: 10px 20px 9.4px 20px;
    padding: 0.625rem 1.25rem 0.5875rem 1.25rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 20px;
}
.cart20-a2-ul .li:nth-child(2){
    width: 33%;
}
.cart20-a2-ul .li:nth-child(3){
    width: 33%;
}
.cart20-a2-ul .li:nth-child(4){
    width: 24.5%;
}
.cart20-a2-ul .li:nth-child(5){
    width: 24.5%;
}
.cart20-a2-ul .li:nth-child(6){
    width: 24.5%;
}
.cart20-a2-ul .li:nth-child(7){
    width: 24.5%;
}

/**************/

.cart20-a1{
    background:#e2e2e2;
}
.cart20-a1-ul{
    width: 100%;
    list-style-type: none;
    height: 960px;
    padding-bottom: 20px;
}
.cart20-a1-ul a{
    text-decoration: none;
}
.cart-heading h5{
    font-size: 26px;
}
.cart20-a1-ul:after{
    content: " ";
    clear: both;
    display: table;
}
.cart20-a1-ul .li{
    text-align: center;
    float: left;
}
.cart20-a1-ul .li h5{
    font-size: 20px;
    margin:10px 0px;
}
.cart20-a1-ul .li:nth-child(1){
    width: 30%;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 20px;
}
.cart20-a1-ul .li:nth-child(1) h5{
    margin: 10px 0px;
    width: 100%;
}

.cart20-a1-ul .li:nth-child(1) p{
    font-size: 16px;
    margin: 10px 0px 15px 0px;
}
.cart20-a1-ul .li:nth-child(1) button {
    background-color: #006e9a;
    border: 1px solid #006e9a;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding: 10px 20px 9.4px 20px;
    padding: 0.625rem 1.25rem 0.5875rem 1.25rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 20px;
}
.cart20-a1-ul .li:nth-child(2){
    width: 33%;
}
.cart20-a1-ul .li:nth-child(3){
    width: 33%;
}
.cart20-a1-ul .li:nth-child(4){
    width: 24.5%;
}
.cart20-a1-ul .li:nth-child(5){
    width: 24.5%;
}
.cart20-a1-ul .li:nth-child(6){
    width: 24.5%;
}
.cart20-a1-ul .li:nth-child(7){
    width: 24.5%;
}

/**********Custom CSS ***********/  
.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-2-a div.car-left {
    float: left;
    width: 40%;
}
.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-2-a div.car-left img {
    width: 75%; 
}

.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-2-a div.car-left {
    float: left;
    width: 60%;
}
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-2-a div.car-left img {
    width: 100%;
    height: 342px;
}

.cartridge-2-a-text {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}


.field--name-field-paragraph-brick .field__item:nth-child(1) .paragraph--type--cartridge-3-c div.left-inner1

{
    overflow: hidden;
    height: 352px;
    margin-bottom: 15px;
    position: relative;
    width: 40%;
    padding: 0px 15px;
    box-sizing: border-box;
    position: relative;
}

.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-c div.left-inner1
{
    overflow: hidden;
    height: 352px;
    margin-bottom: 15px;
    position: relative;
    width: 40%;
    padding: 0px 15px;
    box-sizing: border-box;
    position: relative;
}

.field--name-field-paragraph-brick .field__item:nth-child(1) .paragraph--type--cartridge-3-c div.left-inner1 img,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-c div.left-inner1 img
{
    height: 100%;
}


.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-c div.left-inner1
{
    width: 60%;
    float: right;
    /* padding: 15px 0px; */
    box-sizing: border-box;
    position: relative;
    margin-top: -732px;
}

.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-c div.left-inner1 img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 720px;
}


.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-b div,
.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-a div,
.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-d div
{
    width: 60%;
    float: left;
    padding: 0px 15px 15px 0px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-d div.field--name-field-cartridge-common-title
{
    width: 100%;
}



.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-b div img,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-b div img,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-a div img,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-a div img,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-d div img,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-d div img 
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-b .left-right-inner,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-b .left-right-inner,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-a .left-right-inner,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-a .left-right-inner,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-d .left-right-inner,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-d .left-right-inner 
{
    overflow: hidden;
    height: 337px;
    margin-bottom: 15px;
    position: relative;
}

.field--name-field-paragraph-brick .field__item:nth-child(1) .paragraph--type--cartridge-3-b .uppert-text,
.field--name-field-paragraph-brick .field__item:nth-child(1) .paragraph--type--cartridge-3-a .uppert-text
{
    position: absolute;
    bottom: 10%;
    background: rgba(255,255,255,0.9);
    display: block;
    padding: 15px 20px;
    width: 50%;
    font-size: 28px;
    color: #134c67;
    border-radius: 0px 4px 4px 0px;

}

.field--name-field-paragraph-brick .field__item:nth-child(1) .paragraph--type--cartridge-3-d .uppert-text,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-d .uppert-text,
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-d .uppert-text
{
    position: absolute;
    bottom: 10%;
    background: rgba(255,255,255,0.9);
    display: block;
    padding: 15px 20px;
    width: 100%;
    font-size: 28px;
    color: #134c67;
    border-radius: 0px 4px 4px 0px;

}

.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-b .uppert-text, 
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-b .uppert-text,
.field--name-field-paragraph-brick .field__item:nth-child(2) .paragraph--type--cartridge-3-a .uppert-text, 
.field--name-field-paragraph-brick .field__item:nth-child(3) .paragraph--type--cartridge-3-a .uppert-text
{
    position: absolute;
    bottom: 10%;
    background: rgba(255,255,255,0.9);
    display: block;
    padding: 15px 20px;
    width: 50%;
    font-size: 28px;
    color: #134c67;
    border-radius: 0px 4px 4px 0px;

}



.paragraph--type--cartridge-4-d .upper-p,
.paragraph--type--cartridge-5-d .upper-p
{
    position: absolute;
    bottom: 40px;
    width: 70%;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    text-align: left;
}
.paragraph--type--cartridge-4-d .upper-p h2,
.paragraph--type--cartridge-5-d .upper-p h2
{
    margin: 0px;
    font-size: 20px;
}
.paragraph--type--cartridge-4-d .upper-p p,
.paragraph--type--cartridge-5-d .upper-p p
{
    margin: 0px;
}

.field--name-field-cartridge-common-title{
    font-size: 20px!important;   
}

.cartride-c .field__item:nth-child(1),
.cartride-c .field__item:nth-child(2),
.cartride-c .field__item:nth-child(3),
.cartride-c .field__item:nth-child(4)
{
    float: left; 
    width: 50%;
}

.cartride-c .field__item:nth-child(5)
{
    float: right;
    width: 40%;

}

.team-right .field__item:nth-child(1) {

    width: 100%;

}

.team-right .field--name-title{
    display: none;
}
.team-left .field--name-title {    
    position: absolute;
    top: -30px;
}

.team-right .cart-left{
    height: 565px;
}


.team-left-12-a .field--name-title
{
    display: none;
}

.paragraph--type--cartridge-12-a .cart-left h2 .field__item {
    width: 100%;
}

.team-right-12-a .field__item:nth-child(1) {

    width: 100%;

}

.team-right-12-a .field__item:nth-child(1) img {

    height: 435px;
}


.team-left-12-a .field__item:nth-child(1),
.team-left-12-a .field__item:nth-child(2),
.team-left-12-a .field__item:nth-child(3),
.team-left-12-a .field__item:nth-child(4),
.team-left-12-a .field__item:nth-child(5),
.team-left-12-a .field__item:nth-child(6)
{
    float: left; 
    width: 33%;    
    padding-bottom: 10px;
}

.contant-box .field__items{
    padding-top: 20px;
}


.team-right-12-a .field__item:nth-child(1) {
    width: 100%;
}

.cart20-a2-wrapper .cart20-a2-paragraph .field--name-title {
    display: inline-block;
    position: relative;
    left: -4px;
    top: -271px;

}
.cart20-a2-wrapper .cart20-a2-paragraph .li:nth-child(1)
{
    position: relative;
    bottom: 283px;
    width: 30%;
    left: 162px;
    margin: 0 80px;
}


.field__item:nth-child(3) .paragraph--type--cartridge-20-a2 .li{
    width: 21%!important;
    left: 0 !important;
    margin-left: 10px;
}

.field__item:nth-child(4) .paragraph--type--cartridge-20-a2 .li{
    width: 21%!important;
    left: 0 !important;
    margin-left: -58px;
    margin-right: 10px;
}

.field__item:nth-child(5) .paragraph--type--cartridge-20-a2 .li{
    width: 21%!important;
    left: 0 !important;
    margin: 0 26px;
}

.field__item:nth-child(6) .paragraph--type--cartridge-20-a2 .li
{
    width: 21%!important;
    left: 0 !important;
    margin: 0;
}

.cart20-a1-wrapper .cart20-a1-paragraph .field--name-title {
    display: inline-block;
    position: relative;
    left: -4px;
    top: -261px;

}
.cart20-a1-wrapper .cart20-a1-paragraph .li:nth-child(1)
{
    position: relative;
    bottom: 283px;
    width: 30%;
    left: 162px;
    margin: 0 80px;
}


.field__item:nth-child(3) .paragraph--type--cartridge-20-a1 .li{
    width: 21%!important;
    left: 0 !important;
    margin-left: 10px;
}

.field__item:nth-child(4) .paragraph--type--cartridge-20-a1 .li{
    width: 21%!important;
    left: 0 !important;
    margin-left: -58px;
    margin-right: 10px;
}

.field__item:nth-child(5) .paragraph--type--cartridge-20-a1 .li{
    width: 21%!important;
    left: 0 !important;
    margin: 0 26px;
}

.field__item:nth-child(6) .paragraph--type--cartridge-20-a1 .li
{
    width: 21%!important;
    left: 0 !important;
    margin: 0;
}

.cart20-a1-wrapper .cart20-a1-paragraph .li:nth-child(1)
{
    position: relative;
    bottom: 0;
    margin: 0;
    left: 0;
    padding-left: 20px;
}

.cart20-a1-wrapper .cart20-a1-paragraph .li:nth-child(2)
{
    position: relative !important;
    bottom: 0 !important;
    width: 0 !important;
    left: 0 !important;
}

.cart20-a1-wrapper .cart20-a1-paragraph .field--name-title
{
    position: relative;
    top: -266px;
}

.cart20-a1-wrapper .cart20-a1-paragraph .li:nth-child(1){
    position: relative;
    bottom: 315px;
    width: 32%;
    left: 162px;
    margin-left: 50px;
}
.field__item:nth-child(3) .paragraph--type--cartridge-20-a1 .li{
    width: 40%!important;
    left: 0 !important;
    margin-left: 92px;
    clear: both;
}

.field__item:nth-child(4) .paragraph--type--cartridge-20-a1 .li{
    width: 40%!important;
    left: 0 !important;
    margin-left: 92px;
}
.upper-text h2 {
    margin-top: 5px;
}

h2 {
    margin-top: 5px;
}


.paragraph--type--cartridge-7-a .col-md {
    width: 50%;
}

body.page-node-type-bricky .field--name-field-paragraph-brick .field__label {
    display: none;
}


body.page-node-type-bricky .field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-4-b h2 {
    margin: 0px;
}
body.page-node-type-bricky .field--name-title{
    font-size: 24px;
    font-weight: bold;
    color: #003c6b;
}


/**********09-05-2018 Changes*******/

.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-a .img-responsive {
    height: 689px;
}
.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-b .img-responsive {
    height: 689px;
}

.field--name-field-paragraph-brick .field__item:nth-child(3).paragraph--type--cartridge-3-c .img-responsive {
    height: 689px;
}

.field--name-field-paragraph-brick .field__item:first-child .paragraph--type--cartridge-3-d .img-responsive {
    height: 689px;
}

.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-4-a .img-responsive, 
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-4-b .img-responsive,
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-4-c .img-responsive,
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-4-d .img-responsive
{
    height: 350px;
}


.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-5-a .img-responsive
{
    height: 365px;
}

.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-5-b .img-responsive,
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-5-c .img-responsive,
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-5-d .img-responsive
{
    height: 475px;
}

.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-6-a .img-responsive,
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-6-b .img-responsive
{
    height: 356px;
}

.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-7-a .img-responsive
{
    height: 312px;
}
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-17-a .img-responsive
{
    height: 200px;
}
.field--name-field-paragraph-brick .field__item .paragraph--type--cartridge-19-a .img-responsive
{
    height: 356px;
}

.field__item:nth-child(1) .paragraph--type--cartridge-20-a2 .li img,
.field__item:nth-child(2) .paragraph--type--cartridge-20-a2 .li img,
.field__item:nth-child(3) .paragraph--type--cartridge-20-a2 .li img,
.field__item:nth-child(4) .paragraph--type--cartridge-20-a2 .li img,
.field__item:nth-child(5) .paragraph--type--cartridge-20-a2 .li img,
.field__item:nth-child(6) .paragraph--type--cartridge-20-a2 .li img
{
    height: 331px;
}

.cartride-12a{
    margin-top: 25px;
}
.cls19wrp .field--name-field-text{
    position: relative;
    top: 70px;
    margin-left: 50px;
}
.cls19wrp .field--name-field-text .headline--link{
    float: right;
    margin-right: 71px;
}
/*****************************************/




/*****************10-05-2018**************************/

.candyleftwrapper{
     width: 20%;
}
.candyrightwrapper {
    width: 80%;
    margin: 0 auto;
    display: inline;
}
.layout--twocol > .layout__region {
    flex: auto;
}

body.page-node-type-bricky .candyrightwrapper .field--name-title { display:  none; }


.paragraph--type--candy-cartridge-a .left-right-inner{
    float: left;
    vertical-align: top;
    width: 48%;
    margin: 0 10px;
    height: 500px;
}



.commondesc {
    color: #666;
    font-weight: normal;
}

.paragraph--type--candy-cartridge-a .upper-p
{
    position: relative;
    bottom: 150px;
    width: 80%;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    text-align: left;
    max-width: 100%;
    color: #134c67;
    font-weight: 600;
}

.paragraph--type--candy-cartridge-a .upper-p h2
{
    margin: 0px;
    font-size: 20px;
}

.paragraph--type--candy-cartridge-a .upper-p p
{
    margin: 0px;
}

.candyrightwrapper .contant-box{
    padding:0;
}

.candyrightwrapper .col-md{
    width: 25%;
    padding:8px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-d .col-md {
    width: 50%;
}
.candyrightwrapper .paragraph--type--candy-cartridge-e .col-md {
    width: 100%;
}
.candyrightwrapper .footer-seo-cartridge h2 {
    font-family: "Roboto","Geneva",Tahoma,Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700!important;
    color: #575757!important;
    margin-bottom: 5px;
    letter-spacing: 0;
    font-size: 17px!important;
}

.candyrightwrapper .footer-seo-cartridge p{
    font-size: 15px;
    color: #333;
}
.candyrightwrapper .paragraph--type--candy-cartridge-h .col-md {
    width: 16.5%;
}

.candyrightwrapper h2:first-child { 
    font-size: 24px;
    font-weight: bold;
    color: #003c6b;
}
.candyleftwrapper .field__items{
    padding: 0;
}
.candyleftwrapper .contant-box{
    padding-top: 12px;
}
.candyleftwrapper .field__item{
    width: 7em;
    word-wrap: break-word;
}
.candyleftwrapper .field__item a{
    width: 7em;
    word-wrap: break-word;
}

.candyleftwrapper .field--name-field-label {
    display: none !important;
}

.featuredbrands-text .field--name-field-text {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 20px;
}
.candytext {
  margin-top: 15px; 
}

.paragraph--type--candy-cartridge-a .left-right-inner img{
    height: 500px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-b img{
    height: 236px;
} 
.candyrightwrapper .paragraph--type--candy-cartridge-c img{
    height: 236px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-d img{
    height: 274px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-e img{
    height: 100px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-f img{
    height: 236px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-g img{
    height: 236px;
}
.candyrightwrapper .paragraph--type--candy-cartridge-h img{
    height: 150px;
}
/*=============gallary-row==================*/




@media (max-width: 1200px){

    .right-inner {
        height: 285px;
    }
    .paragraph--type--candy-cartridge-a .left-right-inner {
    float: left;
    vertical-align: top;
    width: 48%;
    margin: 0 5px;
    height: 390px;
    }
}
@media (max-width: 1200px){
    
}

@media (max-width: 768px){
    .left {
        width: 100%;

    }
    .right {
        width: 100%;
    }
    .right-inner{

        height: auto;
        padding: 15px;
    }
    


}